.message {

    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
    opacity: 0;
    animation: scale-up 2000ms cubic-bezier(0, 0.6, 0.8, 0.8) forwards;

    .card {
    
        display: flex;
        background-color: white;
        figure {
            width: 50%;
        }

        p {
            margin: auto;
       
        }
    }

 
    & > section:last-of-type {
        padding: 10px;
        background-color: #ffdc83;
        text-align: center;
    }
}