.login__main {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    background-color: rgba(0, 0, 0, 0.6);
  }

  input {
    outline: none;
  }

  & > section {
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  & > section:last-of-type {
    border: solid white 2px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    animation: show-up 1000ms ease-in-out 1000ms forwards;

    a {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
}
