* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

body {
  margin: 0;
  background-color: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

#container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: 100vh;
  padding-top: 8vh;
  background-image: url("../../../assets/cafe.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
}

header {
  display: flex;
  padding: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul, li {

  padding: 0;
  margin: 0;
  list-style: none;

}

.positive {
  background-color: rgb(160, 241, 178);
}

.negative {
  background-color: rgb(253, 160, 144);
}

.info {
  background-color: var(--primary-color);
}
