.message {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: center;
  opacity: 0;
  animation: show-down 1000ms ease-out forwards;

  .card {
    display: flex;
    background-color: white;
    figure {
      width: 50%;
    }

    & section:last-of-type {
      padding: 5px;
    }
  }

  & > section:last-of-type {
    padding: 10px;
    background-color: #eecb8d;
    text-align: center;
  }
}
